<div class="container">
  <div class="row">
    <div class="col s12">

      <% if (site.posts.length) { %>
        <% site.posts.sort('date', -1).limit(3).each(function(post){ %>
          <%- partial('_partial/article', {post: post, index: true, openInNewTab: true}) %>
        <% }) %>
      <% } %>

    </div>
  </div>
</div>
