@import "nib"
@import "_variables"
@import "_util/mixin"

//global-reset()

html {
  font-size: font-size
  font-family: font-sans;
}

body
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: color-default;

sub {
  bottom: 0;
}

strong {
  font-weight: 600;
}

#main-container {
  margin-top: 20px;
  flex: 1 0 auto;
}

@import "_partial/article";
@import "_partial/header";
@import "_partial/highlight";
@import "_partial/index";

img.inline-image {
  width: 400px;
  float: right;
  margin: 10px !important;
}

code.only-mono {
  background-color: inherit !important;
}

.toc::before {
  content: 'Contents';
  font-weight: bold;
}
.toc {
  margin-top: 1em;
  background-color: #f6f8fa;
  padding: 0.4em 1em;
}

.toc ul {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

@media (min-width: 1024px) {
  .toc {
    width: 40%;
  }
}
